<footer>
    <div class="row-css">
        <div class="col-css">
            <a href="#" class="logo logo-footer">TheGoldenGun</a>
            <p>Bonjour bienvenue sur le site TheGoldenGun</p>
        </div>
        <div class="col-css">
            <h3>Contact</h3>
            <p>Rue de paix</p>
            <p>Paris, Ile de France</p>
            <p>75010, France</p>
            <p class="email-id">geoffreyfleur@gmail.com</p>
            <h4 class="h4-num-footer">+33 344051234</h4>
        </div>
        <div class="col-css">
            <h3>Liens</h3>
            <ul class="ul-footer">
                <li class="ul-footer"><a href="#">Accueil</a></li>
                <li class="ul-footer"><a href="#">Catégories</a></li>
                <li class="ul-footer"><a href="#">Mon compte</a></li>
                <li class="ul-footer"><a href="#">Panier</a></li>
                <li class="ul-footer"><a href="#">Contacts</a></li>
            </ul>
        </div>
        <div class="col-css">
            <h3>Newsletter</h3>
            <form action="">
                <i class='bx bxs-envelope'></i>
                <label>
                    <input class="input-footer" type="email" placeholder="Entrez votre email">
                </label>
                <button type="submit"><i class='bx bxs-right-arrow-alt'></i></button>
            </form>
            <div class="social-icons">
                <i class='bx bxl-facebook-circle'></i>
                <i class='bx bxl-whatsapp-square'></i>
                <i class='bx bxl-youtube'></i>
                <i class='bx bxl-linkedin-square' ></i>
                <i class='bx bxl-instagram-alt' ></i>
            </div>
        </div>
    </div>
    <hr>
    <p class="copyright">Geoffrey Fleur 2023 © - All Rights Reserved</p>
</footer>