<footer class="container-fluid bg-light">
    <div class="row">
        <section class="col">
            Insta
        </section>
        <section class="col">
            Face
        </section>
        <section class="col">
            Youtu
        </section>
    </div>
</footer>