<header class="header">
    <a href="#" class="logo">TheGoldenGun</a>

    <input type="checkbox" id="check">
    <label for="check" class="icons">
        <i class="bx bx-menu" id="menu-icon"></i>
        <i class="bx bx-x" id="close-icon"></i>
    </label>

    <nav class="navbar-css">
        <a href="#" style="--i:0;">Accueil</a>
        <a href="#" style="--i:1;">Category</a>
        <a href="#" style="--i:2;">Contact</a>
        <a href="#" style="--i:3;">Services</a>
        <a href="#" style="--i:4;">A propos</a>
    </nav>
</header>