{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}

    <div class="container form-white" style="width: 23rem; padding-top: 10rem">

            <h1 class="h4 mb-5 font-weight-normal">Réinitialiser mot de passe</h1>

            {{ form_start(passForm) }}
                {{ form_row(passForm.password) }}
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mt-5 " style="background: #8d3f7e">Confirmer</button>

            {{ form_end(passForm) }}
    </div>

{% endblock %}

