<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Accueil{% endblock %} - TheGoldenGun</title>
        <link rel="icon" href="{{ asset('assets/css/img/logo.png') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

{#        Feuilles de styles #}
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <!-- MDB -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">

{#        Fichier JS #}
        <!-- MDB -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"></script>
        <script src="{{ asset('assets/js/scripts.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </head>
    <body>
    <div class="container-fluide bg-tertiary">

        {% include '_partials/_nav.html.twig' %}

        {% if app.user and app.user.isVerified == false %}
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <div class="alert-message">
                    <strong>Votre compte n'est pas activé</strong>, renvoyer le lien d'activation
                </div>
            </div>
        {% endif %}

        {% include '_partials/_flash.html.twig' %}

        {% block body %}{% endblock %}
        {% include '_partials/_footer.html.twig' %}
    </div>

    </body>
</html>
